* {
    padding: 0;
    margin: 0;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
img.zvn-thumb {
    max-width: 100%;
}

.page-header.zvn-page-header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.zvn-page-header-title h3 {
    margin: 0;
}

.zvn-page-header-breadcrumb {
    float: right;
    line-height: 35px;
}

.zvn-page-header-title {
    display: inline-block;
}

.zvn-breadcrumb-title {
    list-style: none;
    margin-bottom: 0px;
}
.zvn-breadcrumb-item {
    float: left;
}
.zvn-breadcrumb-item > a:hover {
    color: #0e90d2;
}
.zvn-breadcrumb-item:first-child:before {
    content: "";
}
.zvn-breadcrumb-item:before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #636c72;
    content: "/";
}
.zvn-alert > strong {
    font-size: 20px;
}

.zvn-alert {
    color: #ffffff;
}

.zvn-alert button > span {
    color: #281f1f !important;
}

.zvn-box-slt-filter select {
    width: auto;
    display: inline-block;
}

.btn-icon {
    border-radius: 50%;
}
.zvn-pagination {
    margin: auto;
    float: right;
}
.main_menu_side {
    margin-top: 20px;
}

span.highlight {
    background: yellow;
    font-weight: bold;
}

.radio-inline {
    padding-left: 0;
    padding-right: 20px;
}

.form-group .description {
    font-style: italic;
    font-size: 13px;
    margin: 5px 0;
    display: block;
    clear: left;
}

.post-title {
    input {
        font-size: 20px;
        height: 45px;
        padding: 10px 15px;
    }
    &::after{content: ''; display: block; clear: both;}
}

/* edit-slug-box */
#edit-slug-box  {
    color: #666;
    height: 30px;
    position: relative;
    margin-top: 10px;
}
#sample-permalink {
    float: left;
    line-height: 30px;
    margin-right: 3px;
}
#sample-permalink a {
    display: inline-block;
    text-decoration: underline;
    color: #3c8dbc;
}
#edit-slug-box strong{
    float: left;
    font-weight: 500;
    line-height: 30px;
    margin-right: 3px;
}
#editable-post-name{
    font-weight: 600;
    max-width: 350px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
	line-height: 30px;
}
#editable-post-category{margin-left: 3px; margin-right: 3px;}
#editable-post-category::after{
	content: '/';
	margin-left: 3px;
}
#edit-slug-buttons .btn {
    height: 24px;
    font-size: 11px;
    line-height: 24px;
    padding: 0 8px 1px;
    margin-left: 10px;
}
#editable-post-name .post-slug {
    width: auto;
    height: 30px;
    font-weight: 400;
    line-height: 26px;
    vertical-align: top;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 25em;
}
