/* gallery-box */
.gallery-box {}
/* galleries */
.gallery-box .galleries {
	position: relative;
	margin-bottom: 10px;
    padding-bottom: 10px;
}
.gallery-box .galleries::after {
	content: '';
	clear: both;
	display: table;
}
.gallery-box .galleries::before {
	content: '';
	bottom: 0;
	height: 1px;
	left: -10px;
	right: -10px;
	position: absolute;
	background: #e5e5e5;
}
/* gallery-item */
.gallery-box .gallery-item {
	margin: 0;
	width: 20%;
    float: left;
	cursor: move;
	padding: 10px;
	background: #fff;
    margin-top: -1px;
	position: relative;
    margin-right: -1px;
	border: 1px solid #e5e5e5;
}
.gallery-item .inner {
	padding-top: 100%;
	position: relative;
}
.gallery-item .edit-name {
	bottom: 0;
	position: absolute;
}
.gallery-item img {
	top: 50%;
	left: 50%;
	max-width: 100%;
    max-height: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.gallery-box .gallery-item:hover {
	background: #e5e5e5;
	border-color: #e5e5e5;
}
.gallery-box .gallery-item .del {
    top: 0;
    right: 0;
    padding: 0;
    z-index: 10;
    width: 18px;
	color: #777;
    border: none;
    height: 18px;
    outline: none;
    background: none;
    position: absolute;
    border-radius: 100%;
}
.gallery-box .gallery-item .del::before {
    content: "\f05c";
    font-size: 20px;
    font-family: FontAwesome;
}
.gallery-box .gallery-item .del:hover {
	color: #d10000;
}
/* upload-btn */
.gallery-box .upload-btn {
	background: #fafafa;
}
.gallery-box .upload-btn a{margin: 0; float: left;}
.gallery-box span{float: left; font-weight: bold; line-height: 34px; margin:  0 20px;}
.gallery-box .btn-del-all {
	float: right;
	line-height: 1.5em;
}

.upload_area{
    float: left;
    width: -webkit-calc(100% - 180px);
    width: -o-calc(100% - 180px);
    width: calc(100% - 180px);
}

.dropzone{
    border: 2px dashed #0087F7; min-height: 140px; border-radius: 10px; background: #ffffff;
}
.dropzone .dz-preview .dz-image{border-radius: 0}
.dropzone .dz-message{
	font-size: 16px;
	font-weight: bold;
}
.dropzone .dz-preview{margin: 0; margin-right: 20px;}
.dz-remove{
	position: absolute;
    top: -4px;
    right: -4px;
    z-index: 20;
    width: 22px;
    height: 22px;
    background-color: #ff5652;
    color: #ffffff;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    display: block;
	cursor: pointer;
	i{
		line-height: 22px;
		&:hover{color: #ffffff;}
	}
}