* {
    margin: 0;
    padding: 0;
}

.zvn-menu li {
    padding-left: 15px;
}

.zvn-menu .submenu li {
    padding-left: 0;
}

/*css-read-more*/
.zvn-more {
    display: none;
}
button.zvn-read-more {
    background: #1196cc;
    color: #ffffff;
    padding: 6px 10px;
    border: azure;
}
/*css-read-more*/

.zvn-btn-call {
    float: right;
    padding: 14px;
    padding-right: 0px;
}
.zvn-blog-news h3 {
    font-size: 15px !important;
    line-height: 20px !important;
}
.zvn-box-btn.zvn-flex-col {
    display: flex;
}

.single-sidebar-widget.popular-post ul li .img-box .inner-box {
    width: auto;
}
.zvn-footer {
    padding-bottom: 0px !important;
}
.btn-is-disabled {
    pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
    opacity: 0.7;
}
h5.card-title {
    font-size: 22px;
}

.zvn-card-body h5.card-title {
    text-transform: capitalize;
}

.zvn-card {
    width: 45%;
    background: #f2f3e3;
    border-radius: 10px 10px;
    padding: 22px 10px;
    margin: 30px auto;
    box-shadow: -1px 1px 9px 0px #544e08;
}
.bg-news {
    background: #fdfef4;
}

.zvn-pd {
    padding: 55px 0px;
}
.zvn-modal .modal-body {
    padding: 30px;
}
.zvn-btn-contact {
    display: none;
}
.zvn-modal .modal-body input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    outline: 39px #1196cc;
    /* border-radius: 7px 7px; */
}

.zvn-modal .modal-body img {
    width: 100%;
}

.zvn-modal .modal-content {
    width: 60%;
    margin: auto;
    /* padding: 12px; */
}
a.zvn-call,
a.zvn-chat {
    padding: 7px 13px;
    border-radius: 5px 5px;
}

.zvn-modal .modal-body .zvn-call,
.zvn-modal .modal-body .zvn-chat {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.zvn-modal .modal-body .zvn-chat i {
    font-size: 24px;
    vertical-align: middle;
}

a.zvn-chat {
    background: #fa503a;
}
a.zvn-call i {
    font-size: 18px;
    vertical-align: middle;
}
.single-specialize .image-box img {
    width: 100%;
    height: 200px;
}
.zvn-content {
    display: block !important;
}
.zvn-content-text table {
    border: 0px;
    padding: 0px 10px;
    margin: auto;
    width: 100% !important;
}
.zvn-content-text thead {
    background: #1196cc;
    color: #ffffff;
}
.zvn-content-text th,
.zvn-content-text td {
    padding: 10px;
    border: 0px;
}
.zvn-content-text th:first-child {
    width: 55%;
}
.zvn-content-text th:last-child {
    width: 20%;
}
.zvn-content-text tbody tr:nth-child(even) {
    background: #e9e9e9;
}
.zvn-content-text tbody tr:nth-child(odd) {
    background: #f6f6f6;
}
.zvn-three-item-carousel .testimonial-block-one {
    width: 35%;
    padding: 0px 20px;
}

.zvn-three-item-carousel {
    display: flex;
}
.zvn-branch .pormo_box_img > img {
    width: 100%;
}
.logo img {
    width: 100%;
}
.appointment-content .full {
    margin-top: 15px;
    padding: 0 10px !important;
    width: 100%;
}
.zvn-p-t-0 {
    padding-top: 0px !important;
}
.date strong {
    display: block;
    padding: 5px;
}
.content-box .content {
    color: #666666;
}
.zvn-related {
    padding-top: 35px;
}
.zvn-content-text img {
    width: 50% !important;
}
.zvn-content-text ul > li {
    list-style-position: inside;
}
.zvn-blog-details {
    padding-bottom: 0px;
}
.zvn-owl i.fa.fa-angle-left,
.zvn-owl i.fa.fa-angle-right {
    line-height: unset;
}
.zvn-title {
    color: #666666 !important;
    font-weight: bold;
}
.zvn-title:hover {
    color: #1196cc !important;
}
.single-sidebar-widget.popular-post ul li .img-box img {
    width: 140px;
    /*height: 60px;*/
}
ul,
p,
.zvn-posted-time {
    color: #666666 !important;
}

.zvn-modal .modal-body p {
    text-align: center;
    font-weight: 600;
    font-style: italic;
    margin: 20px;
}
.zvn-p {
    color: #666666 !important;
}
.zvn-row {
    padding: 20px;
}
.active {
    color: #1196cc !important;
}
.zvn-active {
    background: #1f6e8e !important;
}
.zvn-button i {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: middle;
}
.zvn-button,
.zvn-button-branch {
    background: #1196cc;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    width: 24%;
    text-align: center;
    margin-right: 5px;
}
.zvn-button:hover {
    color: #fff;
    background-color: #269abc;
}
.zvn-button-branch {
    width: 15%;
}
.sec-pdd-35 {
    padding: 35px 0px;
}
.sec-pdd-20 {
    padding: 20px 0px;
}
.img-box img {
    width: 50%;
}
.testimonial-block-one .inner-box .text {
    /* height: 100px; */
    margin-top: 20px;
}
/*css-scrolltop*/
#back-to-top p {
    font-size: 11px;
    line-height: 2px;
    font-weight: 900;
    color: #ffffff !important;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 9999;
    width: 50px;
    height: 48px;
    text-align: center;
    line-height: 30px;
    background: #1196cc;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 19px;
    font-weight: 900;
}

#back-to-top:hover {
    background: #41b6e6;
}

#back-to-top.show {
    opacity: 1;
}

#content {
    height: 2000px;
}

/*end-css-scrolltop*/
/*loader*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 37px;
    height: 37px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.loading {
    position: relative;
    min-height: 100px;
}
.loading .loading_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .loading_icon img {
    min-width: inherit !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*loader*/

@media (max-width: 1279px) and (min-width: 1024px) {
}
@media (max-width: 768px) and (min-width: 320px) {
    .zvn-pd {
        padding: 30px 0px;
    }
    .single-call-to-action .content-box p,
    .single-call-to-action .content-box ul li {
        font-size: 15px;
    }

    .zvn-flex-col .zvn-button {
        margin: 1px 0px 1px;
        width: 35%;
    }
    .zvn-agency .select-input-wrapper {
        margin-top: 15px;
    }
    .zvn-agency textarea {
        margin-top: 15px;
    }
    /*    comments - page*/
    .zvn-three-item-carousel .testimonial-block-one {
        padding: 15px 0px;
        width: auto;
    }

    .zvn-three-item-carousel {
        display: flex;
        flex-direction: column;
    }
    .testimonial-block-one .inner-box .text {
        height: auto;
    }
    /*    comments - page*/
    /*  doctor-page  */
    .zvn-doctor-page .single-team-member {
        width: auto !important;
    }
    /*  doctor-page  */
    /*slider*/
    .tp-caption {
        margin: 14px !important;
        font-size: 20px !important;
        line-height: 20px !important;
        margin-top: 4px !important;
    }
    .tp-caption.sfb.tp-resizeme.thm-banner-p {
        width: 320% !important;
        bottom: 42px;
        font-size: 17px !important;
    }
    .tp-caption.sfb.tp-resizeme.thm-banner-h3 {
        bottom: 70px;
        padding: 8px !important;
    }
    .tp-caption.sfl.tp-resizeme {
        bottom: -30px;
    }
    .tp-caption.sfl.tp-resizeme a {
        font-size: 10px !important;
        padding: 8px !important;
    }

    /*slider*/
    /*  btn-contact  */
    .zvn-btn-contact {
        display: -webkit-flex;
        display: flex;
        position: relative;
        z-index: 2;
        bottom: 0px;
        background: rgba(154, 152, 152, 0.5);
        width: 100%;
        padding: 15px;
    }

    .zvn-btn-contact > a {
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    .zvn-btn-contact > a:first-child {
        margin-right: 5px;
    }
    .zvn-modal .modal-content,
    .zvn-menu a.zvn-call,
    .zvn-menu a.zvn-chat {
        width: 100%;
    }
    .zvn-card {
        width: 100%;
    }

    /*  btn-contact  */

    /* btn-plugin-chat-fb vs scroll-top  */
    #back-to-top {
        /* bottom: 150px !important; */
    }
    .fb_dialog.fb_dialog_mobile {
        /* right: 18pt; */
        /*margin-right: 50px;*/
        /* margin-bottom: 50px; */
    }

    /* btn-plugin-chat-fb   */

    .pd-b-xs-0 {
        padding-bottom: 0px;
    }
}
@media (max-width: 425px) {
    .zvn-flex-col {
        display: flex;
        flex-direction: column;
    }
    .zvn-flex-col .zvn-button {
        margin: 0px 0px 1px;
        width: auto;
    }
    .zvn-agency .select-input-wrapper {
        margin-top: 15px;
    }
    .zvn-agency textarea {
        margin-top: 15px;
    }
}
@media (max-width: 375px) {
    .zvn-tab-branch .zvn-box-btn {
        display: flex;
        justify-content: center;
    }
    .zvn-button-branch {
        width: auto;
        margin: 0px 2px;
    }
    .zvn-flex-col {
        display: flex;
        flex-direction: column;
    }
    .zvn-flex-col .zvn-button {
        margin: 0px 0px 1px;
        width: auto;
    }
    .zvn-agency .select-input-wrapper {
        margin-top: 15px;
    }
    .zvn-agency textarea {
        margin-top: 15px;
    }
    /*    comments - page*/
    .zvn-three-item-carousel .testimonial-block-one {
        padding: 15px 0px;
        width: auto;
    }

    .zvn-three-item-carousel {
        display: flex;
        flex-direction: column;
    }
    /*    comments - page*/
}
